<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutomationSuite" parallel="tests" thread-count="2">
  <parameter name="env" value="local"/>
  <parameter name="browserMode" value="headless"/>
  <test name="UI Tests">
    <classes>
      <class name="com.example.tests.ui.tests.LoginSuccessTest"/>
      <class name="com.example.tests.ui.tests.LoginFailureTest"/>
      <class name="com.example.tests.ui.tests.LoginDataDrivenTest"/>
    </classes>
  </test>
  <test name="API Tests">
    <classes>
      <class name="com.example.tests.api.tests.ApiHappyPathTest"/>
      <class name="com.example.tests.api.tests.ApiNegativeTest"/>
    </classes>
  </test>
</suite>
